{% extends 'uniSistemasBundle::layout.html.twig' %}

{% block central %} 
    <h1>hardware</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Ipreal</th>
                <td>{{ entity.ipreal }}</td>
            </tr>
            <tr>
                <th>Memoria</th>
                <td>{{ entity.memoria }}</td>
            </tr>
            <tr>
                <th>Disco</th>
                <td>{{ entity.disco }}</td>
            </tr>
            <tr>
                <th>Cpu</th>
                <td>{{ entity.cpu }}</td>
            </tr>
        </tbody>
    </table>
            
            
    {% for maq in entity.maquinas %}             
        <div class="LineaFormulario izquierda separarIzq15">
            <h2 class="izquierda separarIzq15"><a href="{{ path('maqvirtual_show', { 'id': maq.id }) }}">{{ maq.nombre }}</a>
                IP: {{maq.ipvirtual}} / Tareas: {{maq.tareas}} </h2>
               {# {% for plat in juego.plataformas %} 
                    <h3 class="izquierda separarIzq15"><a href="{{ path('plataforma_show', { 'id': plat.id }) }}">{{ plat.nombre }}</a></h3>
                {% endfor %}#}
        </div>
    {% endfor %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('hardware') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('hardware_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
